body
	font-family wf_segoe-ui_light, 'Segoe UI Light', 'Segoe WP Light', 'Segoe UI', 'Segoe WP', Tahoma, Arial, sans-serif

nav
	.user
		margin-top 10px
		margin-right 0px
		line-height 0.9em
		img
			border-radius 4px
			width 32px
			margin-right 8px
		a
			font-size 85%
			float right
			margin-top 4px

.repository
	display table

	@require 'tree.styl'

	@require 'document.styl'
