body
	font-family wf_segoe-ui_light, 'Segoe UI Light', 'Segoe WP Light', 'Segoe UI', 'Segoe WP', Tahoma, Arial, sans-serif

nav
	.user
		img
			width 32px

.repository
	display table

	.tree
		vertical-align top
		display table-cell
		width 10%

		margin 0
		padding 0
		padding-right 2em

		h2
			margin-top 0

		ul
			list-style-type none
			margin 0
			padding-left 2em
		li
			margin 0

	.tree > ul
		padding-left 0

	.document
		display table
		vertical-align top

		table
			div
				margin 0
				padding 0
			tr
				.add-comment
					display none
					position absolute
					font-size 120%
					top 0
					right 0
					color rgb(92, 184, 92)

				&:hover
					background-color #eee
					.add-comment
						display block
				&.active
					background-color yellow
			td
				font-family Consolas, "Liberation Mono", Menlo, Courier, monospace
				word-wrap break-word
				white-space pre-wrap
				// padding-left 18px
				// text-indent -7px
				&.text
					vertical-align top
				&.number
					vertical-align top
					text-align right
					padding-right 0.5em
					color #999
					position relative
				ol
					display none
					margin 0
					padding 0
					list-style-type none

					li
						margin 0
						padding 0
