body
  font-family 'Segoe UI Light'

.repository
  list-style-type none
  margin 0
  padding 0
  ul
    list-style-type none
    margin 0
    padding-left 2em
  li
    margin 0

ul.comments
  list-style-type none
  margin 0
  padding 0
  li.comment
    border-radius 7px
    padding 15px
    background #eee
    width 90%
    margin 0 auto