body
	font-family wf_segoe-ui_light, 'Segoe UI Light', 'Segoe WP Light', 'Segoe UI', 'Segoe WP', Tahoma, Arial, sans-serif

nav
	.user
		img
			width 32px

.repository
	display table

	.tree
		vertical-align top
		display table-cell
		width 10%

		margin 0
		padding 0
		padding-right 2em

		h2
			margin-top 0

		ul
			list-style-type none
			margin 0
			padding-left 2em
		li
			margin 0

	.tree > ul
		padding-left 0

	.document
		display table
		vertical-align top

		article
			display table-cell
			tr:hover
				background-color #eee
			td
				font-family Consolas, "Liberation Mono", Menlo, Courier, monospace
				word-wrap break-word
				white-space pre-wrap
				padding-left 18px
				text-indent -7px

		aside
			display table-cell
