.tree
    vertical-align top
    display table-cell
    width 10%

    margin 0
    padding 0
    padding-right 2em

    .name
        white-space nowrap

    h2
        margin-top 0

    ul
        list-style-type none
        margin 0
        padding-left 1.2em
    li
        margin 0
        white-space nowrap
        font-size 12px

.tree > ul
    padding-left 0
    margin-left 2px
