.tree
    vertical-align top
    display table-cell
    width 10%

    margin 0
    padding 0
    padding-right 2em

    .name
        white-space nowrap

    ul
        list-style-type none
        padding-left 0
        margin 0

        ul
            margin-left 1.2em
    li
        margin 0
        white-space nowrap
        font-size 12px

    .with-comments
        h2
            white-space nowrap
            font-size 10pt
            margin-top 1em
            margin-bottom 0.2em

        .badge
            font-size 85%
