script#tmpl-comment(type='text/html')
	.comment(data-comment-id='{{hash}}', class='{{#handled}}handled{{/handled}}')
		.author
			img(src='https://secure.gravatar.com/avatar/{{author_gravatar_id}}?s=140', title='{{author_name}}')
			span.login(title='{{author_name}}') {{author_login}}
			span.timestamp(title='{{when}}') {{timestampFormatted}}
		p.body(title='{{regarding}}') {{body}}
		- if (user && user.__pundit_role__ === 'admin')
			.commands
				{{^handled}}
				button.handle handle
				{{/handled}}
				button.delete delete

		
#workspace
	article
		#for-review

	aside
		#comments-spacer
		#comments
			header
				h1 Comments

			button#view-all view all comments

			.comments-stats

			- if (user)
				#comment-editor
					.comment-body(contenteditable='false')
					span#comment-status
					button#save(disabled) save
			
			.history