script#tmpl-comment(type='text/html')
	.comment
		.author
			img(src='https://secure.gravatar.com/avatar/{{author.gravatar_id}}?s=140')
			span.login {{author.login}}
			span.timestamp(title='{{timestamp}}') {{timestampFormatted}}
		p.body {{body}}
		
#workspace
	article
		#for-review

	aside
		#comments
			header
				h1 Comments

			button#view-all view all comments

			.comments-stats

			- if (user)
				.comment-body(contenteditable='false')
				button#save(disabled) save
			
			.history