body, div, header, footer, section
	box-sizing border-box 

html
	height 100%
	width 100%

.root
	display table
	height 100%
	width 100%

	header 
		height 64px

		.pad
			height 100%
			h1, #docs, #repo
				display table-cell
				width 1px
				vertical-align middle
				padding-right 16px

	header,footer
		display table-row
		width 100%

		.pad
			display table
			width 100%

	#main
		display table-row
		height 100%

#workspace
	display table
	height 100%

	article
		display table-cell
		vertical-align top

	aside
		display table-cell
		vertical-align top
