// looking for a css-only animation here
#messages
    position absolute
    z-index 101
    top 0
    left 0
    right 0
    background contrast
    text-align center
    line-height 2.5em
    font-size 24px
    overflow hidden
    vendor(box-shadow,0 0 5px black)
    color light_text
    text-shadow white 0px 0px 2px, black 1px 1px 0px
    
    .error
        color black