article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
[hidden] {
  display: none;
}
html {
  font-size: 100%;
/* 1 */
  overflow-y: scroll;
/* 2 */
  -webkit-text-size-adjust: 100%;
/* 3 */
  -ms-text-size-adjust: 100%;
/* 3 */
}
body {
  margin: 0;
}
body,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
a {
  color: #00e;
}
a:visited {
  color: #551a8b;
}
a:focus {
  outline: thin dotted;
}
a:hover,
a:active {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: '';
  content: none;
}
small {
  font-size: 75%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
ul,
ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}
dd {
  margin: 0 0 0 40px;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
img {
  border: 0;
/* 1 */
  -ms-interpolation-mode: bicubic;
/* 2 */
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
fieldset {
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
/* 1 */
  *margin-left: -7px;
/* 2 */
}
button,
input,
select,
textarea {
  font-size: 100%;
/* 1 */
  margin: 0;
/* 2 */
  vertical-align: baseline;
/* 3 */
  *vertical-align: middle;
/* 3 */
}
button,
input {
  line-height: normal;
/* 1 */
  *overflow: visible;
/* 2 */
}
table button,
table input {
  *overflow: auto;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
/* 1 */
  -webkit-appearance: button;
/* 2 */
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
/* 1 */
  padding: 0;
/* 2 */
}
input[type="search"] {
  -webkit-appearance: textfield;
/* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
/* 2 */
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
/* 1 */
  vertical-align: top;
/* 2 */
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body,
div,
header,
footer,
section {
  box-sizing: border-box;
}
html {
  height: 100%;
  width: 100%;
}
.root {
  display: table;
  height: 100%;
  width: 100%;
}
.root header {
  height: 64px;
}
.root header .pad {
  height: 100%;
}
.root header .pad h1,
.root header .pad #docs,
.root header .pad #repo {
  display: table-cell;
  width: 1px;
  vertical-align: middle;
  padding-right: 16px;
}
.root header,
.root footer {
  display: table-row;
  width: 100%;
}
.root header .pad,
.root footer .pad {
  display: table;
  width: 100%;
}
.root #main {
  display: table-row;
  height: 100%;
}
#workspace {
  display: table;
  height: 100%;
}
#workspace article {
  display: table-cell;
  vertical-align: top;
}
#workspace aside {
  display: table-cell;
  vertical-align: top;
}
#messages {
  position: absolute;
  z-index: 101;
  top: 0;
  left: 0;
  right: 0;
  background: #e5683f;
  text-align: center;
  line-height: 2.5em;
  font-size: 24px;
  overflow: hidden;
  -webkit-box-shadow: 0 0 5px #000;
  -moz-box-shadow: 0 0 5px #000;
  -ms-box-shadow: 0 0 5px #000;
  -o-box-shadow: 0 0 5px #000;
  box-shadow: 0 0 5px #000;
  color: #fff;
  text-shadow: #fff 0px 0px 2px, #000 1px 1px 0px;
}
#messages .error {
  color: #000;
}
body {
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
  background-color: #def2c4;
  background-image: dirt;
}
body header .pad {
  padding: 12px;
  background-color: #665446;
}
body header #account {
  position: absolute;
  right: 12px;
  top: 12px;
}
body header h1 {
  margin: 0;
}
body header h1 a,
body header h1 a:visited {
  text-decoration: none;
  color: #fff;
  text-shadow: #fff 0px 0px 2px, #000 1px 1px 0px;
}
body #main {
  background-color: #fff;
}
body footer .pad {
  padding: 12px;
  background-color: #665446;
  color: #fff;
}
.context {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  width: 100%;
}
.highlight {
  background-color: #ff9;
  -webkit-box-shadow: 0px 0px 20px #ff9;
  -moz-box-shadow: 0px 0px 20px #ff9;
  -ms-box-shadow: 0px 0px 20px #ff9;
  -o-box-shadow: 0px 0px 20px #ff9;
  box-shadow: 0px 0px 20px #ff9;
}
.has-comments:before {
  content: ' ';
  display: block;
  background-image: url("/comment_yellow.gif");
  position: absolute;
  width: 16px;
  height: 16px;
  margin-left: -24px;
}
#for-review {
  background-color: #ededed;
  margin: 1em;
  border: 1px solid #ddd;
  padding: 1em;
  font-family: Georgia;
}
#for-review .focus {
  background-color: #ff9;
  -webkit-box-shadow: 0px 0px 30px #ff9;
  -moz-box-shadow: 0px 0px 30px #ff9;
  -ms-box-shadow: 0px 0px 30px #ff9;
  -o-box-shadow: 0px 0px 30px #ff9;
  box-shadow: 0px 0px 30px #ff9;
  border: 1px dotted rgba(0,0,0,0.20);
}
#for-review p,
#for-review h1,
#for-review h2,
#for-review h3 {
  border: 1px solid transparent;
}
#for-review img {
  max-width: 100%;
}
#comments-spacer {
  width: 400px;
  margin: 1em 1em 1em 0em;
}
#comments {
  width: 400px;
  background-color: #ededed;
  border: 1px solid #ddd;
  padding: 1em;
  margin: 1em 1em 1em 0em;
  position: fixed;
  top: 64px;
  right: 0;
}
#comments header {
  height: 100%;
}
#comments #comment-editor {
  text-align: right;
}
#comments #comment-editor .comment-body {
  min-height: 200px;
  background-color: #ddd;
  text-align: left;
}
#comments #comment-editor #save {
  margin-top: 4px;
}
#comments #comment-editor #comment-status {
  font-style: italic;
  padding-right: 1em;
  color: #008000;
}
#comments .history .comment {
  margin: 4px;
  margin-bottom: 8px;
  font-family: Georgia;
}
#comments .history .comment .author img {
  background-color: #000;
  width: 24px;
  height: 24px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  float: left;
}
#comments .history .comment .author .login {
  font-size: 22px;
  margin-left: 6px;
}
#comments .history .comment .author .timestamp {
  float: right;
  color: rgba(0,0,0,0.50);
  font-style: italic;
}
#comments .history .comment p {
  margin: 0;
}
