<section>
  <p data-bind="text: sha"></p>
  <ul class="repository" data-bind="template: { name: 'itemTmpl', foreach: tree().nodesToArray() }"></ul>

  <script id="itemTmpl" type="text/html">
    <li>
      <!-- ko if: !isFolder() -->
      <i class="fa fa-file-o"></i>
      <a data-bind="attr: { href: $root.linkFromPath($data.fullPath($data)) }">
        <span data-bind="text: name"></span>
      </a>
      <!-- /ko -->
      <!-- ko if: isFolder() -->
      <i class="fa" data-bind="css: { 'fa-folder-o': !expanded(), 'fa-folder-open-o': expanded() }"></i>
      <span data-bind="text: name, click: toggle"></span>
      <ul data-bind="css: { hide: !expanded() }, template: { name: 'itemTmpl', foreach: nodesToArray() }"></ul>
      <!-- /ko -->
    </li>
  </script>

</section>
